@charset "utf-8";

/* ads */
[class^='lastfm-ad'], .related-ads { display: none !important; }

/* what’s this ? no content */
.overlay-side-rail { display: none !important; }
.overlay-content { margin-right: 64px !important; }

/* FIX: ☞ Main text (scrobbled tracks and artist names) is invisible (all text in tables seem to have 1px font or clipping of some sort). http://23.gy/4bTCw */
.chartlist .chartlist-name, .chartlist .chartlist-album {
	position: static !important;
}

/* some chartlist columns too big */
body table.chartlist .chartlist-index,
body table.chartlist.chartlist--no-image .chartlist-play,
body table.chartlist.chartlist--no-image .chartlist-loved {
	padding: 0 !important;
	width: 6px !important;
}
body.two-column-layout table.chartlist:not(.chartlist--no-index) .chartlist-play,
body.two-column-layout table.chartlist:not(.chartlist--no-index) .chartlist-loved {
	width: 12px !important;
}
body table.chartlist.chartlist--no-image .chartlist-play a,
body table.chartlist.chartlist--no-image .chartlist-loved a {
	width: inherit !important;
}
body table.chartlist.chartlist--no-image .chartlist-loved form {
	width: 0 !important;
}

/* chartlist counter bars overlap the text */
.chartlist .countbar-bar {
	margin-right: 0 !important;
	width: 600px;
}
body.two-column-layout .chartlist .countbar-bar {
	width: 200px;
}

/* make things less “invisible” */
a {
	text-decoration: underline !important;
}
button:not(.image-overlay-playlink-link), input[type="submit"]:not(.shout-btn) {
	background: #ddd !important;
}
button:not(.stationlink), input[type="submit"] {
	padding: 0 4px !important;
}
.timestamp, .footer {
	color: black !important;
}
